<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ifenwang.sco.common.storage.mapper.CredentialMapper">
	
	<sql id="Base_Column_List">
		CREDENTIAL, 
		CHECKSTATUS,
		CREATEDATE,
		OAUTHCODE
	</sql>
	
	<insert id="save" parameterType="Credential">
		insert into TF_CREDENTIAL (
			CREDENTIAL, 
			CHECKSTATUS,
			CREATEDATE,
			OAUTHCODE)
		values (
			#{credential,	jdbcType=VARCHAR}, 
			#{checkStatus,	jdbcType=INTEGER},
			#{createDate,	jdbcType=DATE},
			#{oauthCode,	jdbcType=VARCHAR})
	</insert>
	
	<update id="update" parameterType="Credential">
		update TF_CREDENTIAL
		<set>
			<if test="checkStatus != null">
				checkStatus = #{checkStatus,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				createDate = #{createDate,jdbcType=DATE},
			</if>
			<if test="oauthCode != null">
				oauthCode = #{oauthCode,jdbcType=VARCHAR},
			</if>
		</set>
		where CREDENTIAL = #{credential,jdbcType=VARCHAR}
	</update>
	
	<select id="queryByPK" resultType="Credential" parameterType="java.lang.String">
		select <include refid="Base_Column_List" /> from TF_CREDENTIAL where CREDENTIAL = #{credential, jdbcType=VARCHAR}
	</select>
	
</mapper>