<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ifenwang.sco.common.storage.mapper.UserInfoMapper">
	
	<sql id="Base_Column_List">
		USERID, 
		USERNAME, 
		PASSWORDHASH, 
		NICKNAME, 
		USERSEX,
		BIRTHDAY,
		USEREMAIL, 
		USERPHONE, 
		REGISTDATE,
		LOGINDATE, 
		FLAGS,
		LOGINTYPE,
		USERQQ,
		CITY,
		PROVINCE,
		HEADIMAGE
	</sql>
	
	<insert id="save" parameterType="UserInfo">
		insert into TF_USERINFO (
			USERID, 
			USERNAME, 
			PASSWORDHASH, 
			NICKNAME, 
			USERSEX,
			BIRTHDAY,
			USEREMAIL, 
			USERPHONE, 
			REGISTDATE,
			LOGINDATE, 
			FLAGS,
			LOGINTYPE,
			USERQQ,
			CITY,
			PROVINCE,
			HEADIMAGE)
		values (
			#{userId,		jdbcType=VARCHAR}, 
			#{userName,		jdbcType=VARCHAR},
			#{passwordHash,	jdbcType=VARCHAR},
			#{nickName,		jdbcType=VARCHAR},
			#{userSex,		jdbcType=VARCHAR},
			#{birthday,		jdbcType=VARCHAR},
			#{userEmail,	jdbcType=VARCHAR}, 
			#{userPhone,	jdbcType=VARCHAR},
			#{registDate,	jdbcType=DATE}, 
			#{loginDate,	jdbcType=DATE},
			#{flags,		jdbcType=CHAR},
			#{loginType,	jdbcType=CHAR},
			#{userQQ,		jdbcType=VARCHAR},
			#{city,			jdbcType=VARCHAR},
			#{province,		jdbcType=VARCHAR},
			#{headImage,	jdbcType=VARCHAR})
	</insert>
	
	<update id="update" parameterType="UserInfo">
		update TF_USERINFO
		<set>
			<if test="userName != null">
				USERNAME = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="passwordHash != null">
				PASSWORDHASH = #{passwordHash,jdbcType=VARCHAR},
			</if>
			<if test="nickname != null">
				NICKNAME = #{nickname,jdbcType=VARCHAR},
			</if>
			<if test="userSex != null">
				USERSEX = #{userSex,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				BIRTHDAY = #{birthday,jdbcType=VARCHAR},
			</if>
			<if test="userEmail != null">
				USEREMAIL = #{userEmail,jdbcType=VARCHAR},
			</if>
			<if test="userPhone != null">
				USERPHONE = #{userPhone,jdbcType=VARCHAR},
			</if>
			<if test="registdate != null">
				REGISTDATE = #{registDate,jdbcType=DATE},
			</if>
			<if test="logindate != null">
				LOGINDATE = #{loginDate,jdbcType=DATE},
			</if>
			<if test="flags != null">
				FLAGS = #{flags,jdbcType=CHAR},
			</if>
			<if test="logintype != null">
				LOGINTYPE = #{loginType,jdbcType=CHAR},
			</if>
			<if test="userQQ != null">
				USERQQ = #{userQQ,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				CITY = #{city,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				PROVINCE = #{province,jdbcType=VARCHAR},
			</if>
			<if test="headImage != null">
				PROVINCE = #{headImage,jdbcType=VARCHAR},
			</if>
		</set>
		where USERID = #{userId,jdbcType=VARCHAR}
	</update>
	
	<delete id="deleteByUserId" parameterType="java.lang.String">
		delete from TF_USERINFO where USERID = #{userId,jdbcType=VARCHAR}
	</delete>
	
	<select id="queryByUserId" resultType="UserInfo" parameterType="java.lang.String">
		select <include refid="Base_Column_List" /> from TF_USERINFO where USERID = #{userId, jdbcType=VARCHAR}
	</select>
	
	<select id="queryByUserName" resultType="UserInfo" parameterType="java.lang.String">
		select <include refid="Base_Column_List" /> from TF_USERINFO where USERNAME = #{userName, jdbcType=VARCHAR}
	</select>
	
	<select id="queryByQQ" resultType="UserInfo" parameterType="java.lang.String">
		select <include refid="Base_Column_List" /> from TF_USERINFO where USERQQ = #{userQQ, jdbcType=VARCHAR}
	</select>
	
</mapper>