@CHARSET "UTF-8";

html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 15px;
  font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
  color: #666;
  background-color: #fff;
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}

span.error-validate {
    display: inline;
    margin: 5px 0;
    color: #FF6C60;
    padding-left: 36px;
}
input.error-validate {
    border-color: #FF6C60 !important;
}

/* preloader
--------------------------------------------------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(48, 48, 47, 0.9);
  z-index: 99999;
}

html.no-js #preloader {
  display: none;
}

#submitPreloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(48, 48, 47, 0.9);
  z-index: 99999;
  display: none;
}

#circleout {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid rgba(0, 183, 229, 1.0);
  opacity: .9;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: 0 0 35px #2187e7;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  -webkit-animation: spinPulse 1s infinite ease-in-out;
     -moz-animation: spinPulse 1s infinite ease-in-out;
      -ms-animation: spinPulse 1s infinite ease-in-out;
       -o-animation: spinPulse 1s infinite ease-in-out;
}

#circlein {
  background: rgba(0, 0, 0, 0)
  /* url(img/logo_32.png) no-repeat center center */;
  border: 5px solid rgba(0, 183, 229, 0.9);
  opacity: .9;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: 0 0 15px #2187e7;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
  -webkit-animation: spinoffPulse 3s infinite linear;
     -moz-animation: spinoffPulse 3s infinite linear;
      -ms-animation: spinoffPulse 3s infinite linear;
       -o-animation: spinoffPulse 3s infinite linear;
}
@-moz-keyframes spinPulse {
  0% { -moz-transform: rotate(160deg); opacity: 0; box-shadow: 0 0 1px #505050; }
  50% { -moz-transform: rotate(145deg); opacity: 1; }
  100% { -moz-transform: rotate(-320deg); opacity: 0; }
}
@-moz-keyframes spinoffPulse {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spinPulse {
  0% { -webkit-transform: rotate(160deg); opacity: 0; box-shadow: 0 0 1px #505050; }
  50% { -webkit-transform: rotate(145deg); opacity: 1; }
  100% { -webkit-transform: rotate(-320deg); opacity: 0; }
}
@-webkit-keyframes spinoffPulse {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-o-keyframes spinPulse {
  0% { -o-transform: rotate(160deg); opacity: 0; box-shadow: 0 0 1px #505050; }
  50% { -o-transform: rotate(145deg); opacity: 1; }
  100% { -o-transform: rotate(-320deg); opacity: 0; }
}
@-o-keyframes spinoffPulse {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); }
}
@-ms-keyframes spinPulse {
  0% { -ms-transform: rotate(160deg); opacity: 0; box-shadow: 0 0 1px #505050; }
  50% { -ms-transform: rotate(145deg); opacity: 1; }
  100% { -ms-transform: rotate(-320deg); opacity: 0; }
}
@-ms-keyframes spinoffPulse {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); }
}


/* login
--------------------------------------------------------------------------------------------------------*/
.login-body {
  background-color: #65cea7;
  background-size: cover;
}

.form-signin {
  max-width: 330px;
  margin: 100px auto;
  background: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.form-signin .emsg{
  font-size: 12px;
  padding-top: 2px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 2px;
}

.form-signin .form-signin-heading {
  margin: 0;
  padding: 25px 15px;
  text-align: center;
  color: #fff;
  position: relative;
}

.sign-title {
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: -60px;
  left: 0;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.login-wrap {
  padding: 20px;
  position: relative;
}

.other-login {
  text-align: right;
  margin-top: 15px;
}